* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    background-color: whitesmoke;
    width: 100vw;
    max-width: 100% !important;
    height: 100vh;
    padding: 30px !important;
    display: grid;
    grid-template-columns: auto 400px;
    grid-template-rows: auto 400px;
    column-gap: 30px;
    grid-template-areas:
        "map header"
        "map board"
}

#map {
    grid-area: map
}

#board {
    grid-area: board;
}

#header {
    grid-area: header;
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "dropdown"
        "buttons"
        "pgn"
}

.custom-control {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
}

.custom-control label {
    display: block;
    margin-bottom: 5px;
}

#openingInput {
    width: 100%;
    grid-area: dropdown
}

.dropdownSubtext {
    padding-top: 2px;
    font-size: 12px;
}

#buttons {
    grid-area: buttons
}

#buttonReset {
    float: right
}

#pgn {
    grid-area: pgn;
    overflow: hidden
}

.highlight {
    background-color: rgb(246, 216, 85, 0.7);
}