<!DOCTYPE html>
<html>
<head>
    <title>Map of Online Chess</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    <script src="/static/js/countries.js"></script>
    <script src="/static/js/colors.js"></script>
    <script src="/static/js/utilities.js"></script>
  <style type="text/css">
      body{
        margin: 0;
        padding: 0;
      }
      #map {
        width: 100vw;
        height: 100vh;
      }
      .custom-control {
          background-color: white;
          padding: 10px;
          border-radius: 10px;
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
      }
      .custom-control label {
          display: block;
          margin-bottom: 5px;
      }
    </style>
</head>
<body>
  <div id="map"></div>
  <script>
      document.addEventListener("DOMContentLoaded", function() {
          // ----------------------------------------------------------------------------
          // Map preparation
          // ----------------------------------------------------------------------------
          // Load necessary data
          Utils.prepareMap().then(arr => {
              const metaData = arr[0];
              const e4Positions = metaData['e4_positions']
              const d4Positions = metaData['d4_positions']
              const countriesData = arr[1];

              var e4d4Gradient = Colors.getE4D4Gradient(e4Positions, d4Positions);

              // Add a tile layer (the map background)
              const map = L.map('map', {
                  worldCopyJump: true})
                  .setView([0, 0], 3);
              L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                  maxZoom: 19,
                  attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
              }).addTo(map);

              // Add base view to map
              countryLayer = L.geoJSON(countriesData, {
                  onEachFeature: Countries.onEachCountryBase,
                  style: {
                      fillColor: '#F28F3A',
                      weight: 2,
                      opacity: 1,
                      color: 'white',
                      fillOpacity: 0.7
                  }
              }).addTo(map);

              // ----------------------------------------------------------------------------
              // Functions to change the map view (base vs. e4d4)
              // ----------------------------------------------------------------------------
              const CustomControl = L.Control.extend({
                  onAdd: function() {
                      const container = L.DomUtil.create('div', 'custom-control');
                      L.DomEvent.disableClickPropagation(container); // Prevent clicks on the control from affecting the map

                      const e4d4Button = L.DomUtil.create('button', '', container);
                      e4d4Button.innerHTML = 'E4/D4 split';
                      e4d4Button.addEventListener('click', () => switchToE4D4());

                      const baseButton = L.DomUtil.create('button', '', container);
                      baseButton.innerHTML = 'Base';
                      baseButton.addEventListener('click', () => switchToBase());

                      return container;
                      },
                  options: {
                      position: 'bottomright'
                  }
              });

              map.addControl(new CustomControl());

              function switchToBase() {
                  if (countryLayer){
                      countryLayer.remove();
                  }
                  countryLayer = L.geoJSON(countriesData, {
                      onEachFeature: Countries.onEachCountryBase,
                      style: {
                          fillColor: '#F28F3A',
                          weight: 2,
                          opacity: 1,
                          color: 'white',
                          fillOpacity: 0.7
                      }
                  }).addTo(map);
              }
              function switchToE4D4() {
                  if (countryLayer){
                      countryLayer.remove();
                  }
                  countryLayer = L.geoJSON(countriesData, {
                      onEachFeature: Countries.onEachCountryE4D4,
                      style: (feature) => Colors.countryStyle(feature, e4d4Gradient)
                  }).addTo(map);
              }
          });
      });
    </script>
</body>
</html>